	body
			{
					background-color: rgba(200,200,200,0.5);
				
			}
	p
			{
				color: black;
			font-size: 32px;
			}
		
	h5
			{
				font-family: verdana;
				color: blue;
			}

	h3
{
	text-align: center;
}

	td
{
	text-align: center;
}