<<<<<<< HEAD
<h1>
			{
					color: white;
				font-size: 32px;
				font-family:verdana;
			}
p
			{
				color: blue;
			font-size: 32px;
			}
=======
body {
    background-image: url(https://image.freepik.com/free-psd/white-wood-texture-background-design_1022-75.jpg);
    background-color: #cccccc;
}

p {
    color: blue;
    font-size: 40px;
}

p1 {
    color: black;
    font-size: 30px;
}

h5 {
    font-family: verdana;
    color: blue;
}

h3 {
    text-align: center;
}

td {
    text-align: center;
}

table,
td,
th {
    border: 2px solid black;
    border-collapse: collapse;

}
th, td
{
	padding: 15px;

}
table#t01 {
    width: 100%;    
    background-color: #f1f1c1;
}
>>>>>>> f711828d6a8d6d24406695cc006ee57186c64c2e
