<h1>
            {
                    color: white;
                font-size: 32px;
                font-family:verdana;
            }
p
            {
                
            font-size: 32px;
            }

body {
    background-image: url(https://image.freepik.com/free-psd/white-wood-texture-background-design_1022-75.jpg);
    background-color: #cccccc;
    background-size: 100%;
    back
    
}

p {
    color: blue;
    font-size: 40px;
}

p1 {
    color: black;
    font-size: 25px;
}

h5 {
    font-family: verdana;
    color: blue;
}

h3 {
    text-align: center;
}

td {
    text-align: center;
}

table,
td,
th {
    border: 4px solid black;
    border-collapse: collapse;
    font-family: arial;
padding: 15px;
}

table#t01 {
    width: 100%;    
    background-color: #f1f1c1;
}
@media screen and (max-width: 640px)
{
    body {
        background-color: lightgreen;
        transition: background-color: lightgreen; width 2s;
    }
}