body
		{
background-color: black;
		}
		

h3
		{
	color: white;
	text-align: center;
    font-family: 'Vibur', cursive;
    font-size: 42px;
		}

.foxwolf
		{
column-count: 3;
color:orange;
font-family: 'Vibur', cursive;
font-size: 32px;
display: block;
    margin: auto;
		}

.list a
		{
	width: auto;
	background-color: orange;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
	font-family: 'Vibur', cursive;
   
    
}

.list li
{
list-style-type:none;
display: inline-block;

}