body
		{
background-color: black;
		}


h3
		{
	color: white;
	text-align: center;
	font-family: 'Mogra', cursive;
    font-family: 'Vibur', cursive;
    font-size: 42px;
		}

.foxwolf
		{
column-count: 3;
color:orange;
font-family: 'Mogra', cursive;
font-family: 'Vibur', cursive;
font-size: 32px;
		}

.pics
		{
	margin: 5px;
    border: 5px solid orange;
    width: 320px;
    height:228px;
		}